/* Ensure all images have the same width and height */
.img-dolar-sit img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

/* Adjust the margins of img-section */
.img-section {
    margin-left: 20%;
    margin-right: 20%;
}
.latest-blog h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.img-dolar-sit button:hover {
    background-color: #e6b800;
}
.blog-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.blog-img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.blog-card:hover .blog-img {
    transform: scale(1.05);
}

.blog-btn {
    background-color: #ffcc00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.blog-btn:hover {
    background-color: #e6b800;
}