/* General Styling for Experience Section */
.container-fluid {
    background-color: #f5f3f3;
}

/* Experience Title */
.experience-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    letter-spacing: 1px;
}

/* Experience Description */
.experience-description {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.8;
}

/* Contact Us Button */
.btn-contact-us {
   
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-contact-us:hover {
    background-color: #ffc107;/* Darker shade on hover */
}

/* Image Styling */
.img-fluid {
    max-height: 100vh;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
