.result {
    background-color: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card {
    text-align: center;
    width: 30vh;
    border: none;
    color: white;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(245, 241, 241, 0.5);
    /* Black background with 50% transparency */
}

.card:hover {
    transform: translateY(-5px);
    /* Slight lift on hover */
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    /* Enhanced shadow on hover */
}

.card i {
    font-size: 3rem;
    /* Larger icon size */
    margin-bottom: 1rem;
    /* Space between icon and text */
    color: #ffcc00;
    /* Icon color */
}

.card h6.display-4 {
    font-size: 2.5rem;
    /* Larger font size for numbers */
    margin-bottom: 0.5rem;
    /* Space between number and label */
    color: #ffc107;
    /* Yellow color for numbers */
}

.card h6.text-muted {
    font-size: 1rem;
    /* Adjust font size for labels */
    color: #f8f9fa;
    /* Light color for labels */
}