.message-section h3 {
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;

}

.message-section p {
    font-size: 1.2rem;
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}


